.figure {
   // Ensures the caption's text aligns with the image.
   display: inline-block;
   font-size: 8px;
 }
  
 .container-fluid {
  max-width: 1780px;
}
header {
  .navbar
  {}
}

// Menu-Close
.navbar-toggler[aria-expanded=true] .navbar-toggler-default {
  display: none;
}
.navbar-toggler[aria-expanded=true] .navbar-toggler-toggled {
  display: -ms-flexbox;
  display: flex;
}
.navbar-toggler .navbar-toggler-toggled {
  display: none;
}
// Topbar

